<style>
    table {
        font-size: 9px;
    }
    td {
        border-bottom: solid 1px black;
        padding: 4px;
        margin: 0px;
    }
    td.title {
        background-color: #A86;
        border-bottom: 0px;
    }
    td.spacer {
        background-color: black;
        padding: 1px;
    }
    td h1 {
        margin : 5px;
    }
</style>
<a href="/events/tasks">Tarefas</a> 
<a href="/events/contacts">Contatos</a> 
<a href="/events/finances">Financas</a><br /><br />
<table cellspacing="0">
    <tr>
        <td colspan="5">
            <h1>
                UTMs
            </h1>
        </td>
    </tr>
    <% for (var i in cohort) { %>
        <tr>
            <td colspan="5" class="title">
                <%= cohort[i].date.getDate() + '/' + (cohort[i].date.getMonth() + 1) + '/' + cohort[i].date.getFullYear() %>
            </td>
        </tr>
        <tr>
            <td>
                Source
            </td>
            <td>
                Medium
            </td>
            <td>
                Countent
            </td>
            <td>
                Campaign
            </td>
            <td>
                Query
            </td>
        </tr>

        <% for (var j in cohort[i].utms) { %>
            <tr>
                <td>
                    <%= cohort[i].utms[j].source%>
                </td>
                <td>
                    <%= cohort[i].utms[j].medium%>
                </td>
                <td>
                    <%= cohort[i].utms[j].content%>
                </td>
                <td>
                    <%= cohort[i].utms[j].campaign%>
                </td>
                <td>
                    ?utm_source=<%= cohort[i].utms[j].source ? cohort[i].utms[j].source : ''%>&utm_medium=<%= cohort[i].utms[j].medium ? cohort[i].utms[j].medium : ''%>&utm_content=<%= cohort[i].utms[j].content ? cohort[i].utms[j].content :''%>&utm_campaign=<%= cohort[i].utms[j].campaign ? cohort[i].utms[j].campaign : ''%>
                </td>
            </tr>
        <% } %>
    <% } %>
</table>